.cx_body{
  background: $bgGeneral;
}
.cx_layout_margin{
  margin-top:30px; margin-bottom:30px;
}
.cx_layout_margin_center{
  margin:50px auto;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &:visited{
    text-decoration: none;
  }
}
.cx_span_animateA{
  display: inline-block;
  margin:-3px;
  @include prefixed(transition, "transform  0.5s");
  &:hover{
    @include prefixed(transform, "translate(0, -5px)")
  }
}

.cx_header{
  color: $colorGeneral;
  .cx_header_title{
    font-size:4rem;
  }
  .cx_header_glyphicon{
    font-size:8rem;
  }
  .cx_header_employee_info{
    div{
      min-height:25px;
    }
  }
  .cx_btn_link{
    width:15%;
  }
}

.cx_navbar{
  background-color: $bgLighter;
  margin-top:5px;
  margin-bottom:5px;
  a{
    color:$colorGeneral;
  }
  .navbar-toggle{
    background-color: $colorSuccessful;
    .icon-bar{
      background-color: $colorGeneral;
    }
  }
  #cx_nav{
    li{
      margin:0 2px;
      a{
        padding:5px;
      }
    }
  }
  .dropdown-menu{
    background-color:$bgLighter;
    width:100%;
    padding:2px 0px;
    li{
      margin:0;
    }
    a{
      min-width:0; //override btn_common_parts
    }
  }

}

.cx_overview_boxes{
  color:$colorGeneral;
  h3{
    padding-left:5px;
  }
  .cx_overview_box_row{
    background-color: $bgLighter;
  }
  .cx_overview_box{
    padding-top: 5px;
    padding-bottom: 5px;
    .cx_overview_box_title{
      padding: 10px;
      font-weight:bold;
    }
    .cx_overview_box_content{
      position: relative;
      min-height:250px;
      background-color: $bgGeneral;
      .cx_overview_box_content_num{
        position: absolute;
        right: 5px;
        bottom:2px;
        font-size:1.5em;
      }
    }
  }
  .cx_overview_box_customer{
    .cx_overview_box_title{
      background-color: $colorA;
    }
  }
  .cx_overview_box_finance{
    .cx_overview_box_title{
      background-color: $colorB;
    }
  }
  .cx_overview_box_employee{
    .cx_overview_box_title{
      background-color: $colorC;
    }
  }
  .cx_overview_box_product{
    .cx_overview_box_title{
      background-color: $colorD;
    }
  }

}

//Styles for all the function boxes
.cx_function_boxes{
  color:$colorGeneral;
  .cx_function_box_row{
    background-color: $bgLighter;
  }
  .cx_function_box{
    margin-top:5px;
    margin-bottom:5px;
    .cx_function_box_title{
      font-weight:bold;
      padding:5px;
    }
    .cx_function_box_content{
      position: relative;
      min-height:250px;
      background-color: $bgGeneral;
      padding:5px;
      .row{
        margin-bottom:10px;
      }
      .cx_function_box_img{
        margin-left:auto;
        margin-right:auto;
        width:100%;
        max-width:250px;
      }
      .cx_function_box_content_btn_under_img{
        text-align: center;
      }
      select, input{
        color: $colorSuccessful;
        height:30px;
      }
      span{
        color:$colorGeneral;
      }
      [class*="cx_btn"]{
        width:30%;
      }
    }
  }

  //Styles for customer function box
  .cx_function_box_customer{
    .cx_function_box_title{
      background-color: $colorA;
    }
    .cx_view_recent_col{
      #view_recent_select{
        width:100px;
      }
      #view_recent_input{
        width:70px;
      }
    }
    .cx_search_customers_row{
      #search_customers_input{
        width:100%;
      }
      #search_customers_select{
        width:100%;
      }
    }
  }

  //Styles for finance function box
  .cx_function_box_finance{
    .cx_function_box_title {
      background-color: $colorB;
    }
  }

  //Styles for employee function box
  .cx_function_box_employee{
    .cx_function_box_title {
      background-color: $colorC;
    }
  }

  //Styles for product function box
  .cx_function_box_product{
    .cx_function_box_title {
      background-color: $colorD;
    }
  }

}

.cx_message_box_successful{
  @include cx_message_box();
}
.cx_message_box_failed{
  @include cx_message_box($colorFailed);
}

.cx_solo_message{
  background-color: $bgLighter;
  color: $colorGeneral;
  font-size:1.8rem;
  font-style: italic;
  margin-top:50px;
  width:50%;
  text-align: left;
  padding:5px;
}


