@media only screen and (max-width:991px){

  .cx_overview_boxes{
    .cx_overview_box{
      width:90%;
      margin-left:auto;
      margin-right:auto;
    }
  }
  .cx_function_boxes{
    .cx_function_box_content{
      [class*="col-"] {
        text-align: center;
        * {
          margin-left:auto;
          margin-right:auto;
        }
      }
      [class*="cx_btn"], input, select{
        width:150px;
      }

    }
  }
}