body {
  background: rgba(0, 0, 0, 0.43) !important;
    
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
    font-family: Trebuchet MS;
color: #ffffff;
}

.form-signin {
  max-width: 750px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #4b4b4b;
  border: 1px solid rgba(0, 0, 0, 0.1);
    
}

.form-signin-heading{
    text-align: center;
    font-family: Trebuchet MS;
}


.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
    left: 41.5%;
    position: relative;
}
.form-signin .form-control {
    max-width: 300px;
    left: 41.5%;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
    
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn:hover {
  background-color: cornflowerblue;
}

.btn {
  border: 2px solid transparent;
  background: #73de67;
  color: #ffffff;
    
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 0px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 200px;
  margin: 0 auto;
   
}

.login-link{
    color: white;
    left: 41.5%;
    position: relative;
}
.form-signin-bse{
    text-align: center;
    font-family: Trebuchet MS; 
    margin-bottom: 30px;
    font-size: 20px;
    color: #aaaaa5;
    
}
